@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.drop-container {
  position: relative;
  width: 300px;
  height: 80px;
  color: white;
  text-align: center;
}

.drop-text {
  position: absolute;
  transform: translateY(-100%);
  opacity: 0;
}

.animate-dropIn {
  animation: dropIn 0.6s cubic-bezier(0.4, 0, 0.99, -0.04) forwards;
}

.animate-dropOut {
  animation: dropOut 0.6s cubic-bezier(0.4, 0, 0.99, -0.04) forwards;
}

@keyframes dropIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes dropOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  /* height: 200vh; */
}

.container {
  margin-left: 3rem;
  margin-right: 3rem;
}
.scene-container {
  flex: 2;
  height: 100%;
}
.marker-label {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  gap: 4px;
  font-size: 4px;
  letter-spacing: -0.2;
  left: 17.5px;
  user-select: none;
  cursor: pointer;
  background-color: #0020009b;
  padding: 2px 4px;
  border: 1px solid #024a0a;
  /* white-space: nowrap; */
  border-radius: 2px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 500ms;
}
.marker-label:hover {
  /* border: 1px solid #00af20a0; */
  box-shadow: 0px 0px 4px 1px #60ae6085;
}
.dashboard {
  flex: 1;
  height: 100%;
  overflow-y: scroll;
  direction: rtl;
}
.normalize {
  direction: ltr;
}
.dashboard::-webkit-scrollbar {
  width: 12px;
  height: auto;
}

.dashboard::-webkit-scrollbar-track {
  background: #1502349a;
  border-radius: 10px;
}

.dashboard::-webkit-scrollbar-thumb {
  background: #2e2e2e;
  border-radius: 10px;
}

.dashboard::-webkit-scrollbar-thumb:hover {
  background: #555;
}
